    /* Estilizando minha página HTML */
    body {
        background-color: rgb(51, 22, 219); 
        color: white;
        font: normal 20pt Arial;
    }
    h1 {
        color: rgb(253, 222, 46);
    }